#drawing{
    background: $color2;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > canvas{
        // border: 1px solid black;
    }
    > p{
        margin-top: 2vh;
        font-size: 2rem;
        font-weight: bold;
        &:first-of-type{
            color: rgb(206, 3, 3);
        }
        &:last-of-type{
            color: rgb(239, 243, 0);
        }
        &.hidden{
            display: none;
        }
    }

}

