$color1: rgba(0,109,77,1);
$color2: linear-gradient(180deg, rgba(0,109,77,1) 0%, rgba(0,202,143,1) 95%, rgba(0,109,77,1) 100%);
$color3: rgba(0,109,77,1);
$color4: linear-gradient(180deg, rgba(0,109,77,1) 0%, rgba(0,202,143,1) 5%, rgba(0,109,77,1) 100%);
$color5: rgba(0,109,77,1);


