#word{
    background-color: #1c5b92;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    > section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        > section{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #9fbbd3;
            width: 100%;
            > p{
                padding: 1vh 2vw;
                color: white;
                font-weight: bold;
            }
        }
    }
}
.hidden{
    visibility: hidden;
}